.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: lavender;
    padding: 30px;
}

.gap {
    display: flex;
    gap: 10px;
}

.textLeft {
    text-align: left;
}